h1,h3{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
    text-align: center;

}

p{
    color: yellow;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}